@charset "UTF-8";

a {
	text-decoration: none;
	color: inherit;
}

header {
	position: fixed;
	top: 0;
	height: 100%;
	width: 100%;
	background-color: rgb(35, 35, 35);
	background-size: cover;
	h1#title {
		margin-top: 12%;
		text-align: center;
		font-size: 5em;
		line-height: 0;
		font-weight: lighter;
		text-shadow: 0 0 0.5rem white;
		color: white;
	}
}

main {
	position: relative;
	margin-top: 25%;
	padding-top: 5%;
	background-color: rgba(240, 240, 240, 0.9);
	transition: all 0.5s;
	#line {
		margin: auto;
		width: 90%;
		height: 45vh;
		animation: spananimation 1s;
		section.node {
			margin: 0 0.5rem;
			height: 12rem;
			background-color: rgb(50, 50, 50);
			cursor: pointer;
			h2 {
				margin: 0;
				line-height: 12rem;
				font-size: 1.5rem;
				text-align: center;
				font-weight: lighter;
				color: white;
				background-color: rgba(0, 0, 0, 0.4);
				transition: all 0.25s;
				text-shadow: 0 0 0.25rem black;
				&:hover {
					background-color: rgba(0, 0, 0, 0.6);
					font-size: 2rem;
				}
			}
		}
	}
	#list {
		margin: auto;
		width: 90%;
		height: 100vh;
		#category {
			.node {
				margin: 0;
				padding: 0.5rem 0;
				line-height: 4rem;
				border-radius: 0;
				background-color: #106CC8;
				&.active {
					background-color: #267ED5;
				}
			}
			background-color: #106CC8;
		}
		#item {
			overflow-y: scroll;
			.node {
				margin: 0;
				padding: 0.5rem 0;
				line-height: 1.25rem;
				border-radius: 0;
				background-color: #1C5792;
				&.active {
					background-color: #32699F;
				}
			}
		}
		#content {
			.cover {
				img {
					width: 100%;
				}
			}
			h3.summary-title {
				font-size: 3em;
				line-height: 3rem;
				font-weight: lighter;
				text-transform: uppercase;
			}
			p.summary-text {
				font-weight: lighter;
			}
			h3.audio-title {
				font-size: 3em;
				line-height: 3rem;
				font-weight: lighter;
				text-transform: capitalize;
			}
		}
	}
}

@keyframes spananimation {
	from {
		width: 0%;
	}
	to {
		width: 90%;
	}
}

footer {
	position: relative;
	background-color: rgb(25, 25, 25);
	padding: 4rem 0 0.5rem;
	h6 {
		margin: 0;
		line-height: 3rem;
		text-align: center;
		font-size: 1rem;
		font-weight: lighter;
		color: white;
	}
}

main.ng-enter {
	animation: fadeInUp 0.5s;
}

main.ng-leave {
	animation: fadeOutDown 0.5s;
}
