#list(layout='row')
	#category.md-whiteframe-10dp(flex="10" layout='column')
		md-button.folder.md-raised.md-primary(ng-repeat='(category, _) in asset' ng-click='categoryClicked()' ng-class="{'active': categoryIsSelected()}") {{category}}
	#item.md-whiteframe-10dp(flex="20" layout='column')
		md-button.folder.md-raised.md-primary(ng-repeat='(item, _) in asset[memo.category]' ng-click='itemClicked()' ng-class="{'active': itemIsSelected()}") {{item}}
	.md-whiteframe-10dp(flex)
		img(ng-src='/assets/{{memo.category}}/{{asset[memo.category][memo.item].image}}')
		audio(ng-src='{{audioSrc}}' controls)
		p {{summary}}
